body{
        display: block;
        justify-items: center;
        align-items: center;
    }

    .kotak{
        display: flex;
        width: 150px;
        height: 150px;
        border: 2px solid black;
    }

    .container{
        display: flex;
        width: 500px;
        height: 500px;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .kotak1{
         width: 150px;
        height: 150px;
        border: 2px solid black;
        background-color: aqua;
    }

    .kotak2{
      width: 150px;
        height: 150px;
        border: 2px solid black;
        background-color: rgb(20, 228, 65);
    }
    .kotak3{
          width: 150px;
        height: 150px;
        border: 2px solid black;
        background-color: rgb(255, 65, 192);
    }